*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 5%, 15%;
}

.Titulo{
    background-image: url(Wallpaper.jpg);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(158, 158, 34);
    font-size: 35px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.miniatura{
    width: 3%;
}

.video{
    border: 4px solid black;
    margin: 1%;
}

.sectionVideo{
    background-color: rgb(255, 255, 168);
    float: left;
    padding: 5%; 
}

.Contatos{
    background-color: rgb(148, 146, 146);
    float: right;
    padding: 5%;
}
